@import "./reset.css";
@import "./global-nav.css";
@import "./nav.css";
@import "./product.css";

@import "./utils.css";

body {
  width: 100%;
  max-width: 1920px;
}

.divide-line {
  width: 100%;
  border: 2px solid #aaaaaa;
}
