@import "./common/reset.css";
@import "./common/global-nav.css";
@import "./common/nav.css";
@import "./common/checkbox.css";
@import "./page/product.css";
@import "./page/order.css";
@import "./page/cart.css";

@import "./common/utils.css";

body {
  width: 100%;
  max-width: 1920px;
}

.divide-line {
  width: 100%;
  border: 2px solid #aaaaaa;
}
