.product-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 240px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info__name {
  font-size: 12px;
}

.product-info__price {
}
